* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
  color: white;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav .menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 30px;
  border: none;
  background: #ff4b4b;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.hero-btn:hover {
  background: #ff2a2a;
}

.boxs {
  display: flex;
  
  padding: 50px;
  text-align: center;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.box1 {
  height: 400px;
  width: 300px;
  text-align: center;
  justify-content: center;
  background-position: center;
  border-radius: 10px;
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGl6emF8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
}
.box2 {
  height: 400px;
  width: 300px;
  text-align: center;
  justify-content: center;
  background-position: center;
  border-radius: 10px;
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGl6emF8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
}
.box3 {
  height: 400px;
  width: 300px;
  text-align: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGl6emF8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
  background-position: center;
  display: flex;
  border-radius: 10px;
}

